/* Responsive (Phones) */

@media screen and (max-width: 576px) {
  .product {
    width: 300px;
    margin: 50px auto;

    grid-template-columns: 1fr;
    grid-template-areas:
      "title title"
      "image image"
      "info info"
      "details details"
      "add add";
  }

  .product__title {
    font-size: 1rem;
  }

  .product__image {
    width: 100%;
    height: 350px;
  }

  .product__info {
    padding: 0 20px;
    border-bottom: 2px dashed black;
  }

  .product__sale {
    top: -17px;
    left: -12px;
  }

  .product__details {
    padding: 0 20px;
    margin-top: 8px;
  }

  .product__colors {
    justify-content: center;
    margin-bottom: 20px;
  }

  .product__addCart {
    padding: 10px;
    font-size: 1.2rem;
  }
}

/* Responsive (Tablets) */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .product {
    width: 450px;
    margin: 70px auto;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "image image"
      "info details"
      "add add";
    column-gap: 30px;
  }

  .product__title {
    font-size: 1.6rem;
  }

  .product__image {
    width: 100%;
  }

  .product__info {
    padding: 0 20px;
  }

  .product__addCart {
    padding: 10px;
    font-size: 1.5rem;
  }
}
